.cards-container{
  color:  #B84357;
  
} 
  .div-buttom{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }

    .pagination-link {
    color: #d8b471;
    text-decoration: underline;
    cursor: pointer; 
    transition: transform 0.2s; 
    display: inline-block; 
    padding: 8px 6px; 
  }
  
  .pagination-link.active {
    color: #f5e5c8; 
    text-decoration: underline;
    transform: translateY(-2px); 

  }
  .pagination-link:hover {
    font-weight: bold;
    color: #dabb83;
  }
  